.places {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    max-width: 984px;
    margin: 0 auto;
}

@media (max-width: 1279px) {
    .places {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .places {
        max-width: 720px;
        gap: 73px;
    }
}

@media (max-width: 767px) {
    .places {
        max-width: 320px;
        gap: 50px;
    } 
}