.lead__title {
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    padding: 56px 0 0 0;
}

@media (max-width: 1279px) {
    .lead__title {
        padding: 48px 0 0 0;
    }
}

@media (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
    }
}