.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 767px) {
    .footer__copyright {
        width: 186px;
        line-height: 100%;
        text-align: left;
    }
}