.intro__text {
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
}


@media (max-width: 768px) {
    .intro__text {
        max-width: 720px;
        max-height: 208px;
    }
}

@media (max-width: 320px) {
    .intro__text {
        max-width: 288px;
        max-height: 520px;
    }
}