.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    color: #FFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    padding: 32px 0 0 0;
    margin: 0 auto;
}