.cover__title {
    max-width: 560px;
    margin: 0 auto;
    padding-top: 245px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media (max-width: 1279px) {
    .cover__title {
        min-height: 152px;
        padding-top: 195px;
    } 
}

@media (max-width: 1023px) {
    .cover__title {
        padding-top: 115px;
    } 
}

@media (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        min-height: 70px;
        padding-top: 33px;
        font-size: 32px;
        line-height: 109%;
    } 
}