.place__paragraph {
    min-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding-bottom: 26px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media (max-width: 1279px) {
    .place__paragraph {
        min-width: 456px;
    }
}

@media (max-width: 1023px) {
    .place__paragraph {
        min-width: 352px;
        font-size: 16px;
        padding-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .place__paragraph {
        min-width: 288px;
        padding-bottom: 25px;
    }
}
