.footer {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    max-width: 1184px;
    width: 100%;
    min-height: 18px;
    margin: 0 auto;
    color: #fff;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media (max-width: 1279px) {
    .footer {
        max-width: 928px;
        width: 100%;
        min-height: 18px;
        padding-top: 92px;
        padding-bottom: 24px;
    } 
}

@media (max-width: 1023px) {
    .footer {
        max-width: 720px;
        width: 100%;
        min-height: 18px;
        padding-top: 88px;
        padding-bottom: 24px;
    } 
}

@media (max-width: 767px) {
    .footer {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        max-width: 186px;
        width: 100%;
        min-height: 310px;
        padding: 64px 0 24px 16px;
        margin: 0;
    }
}