.intro__title {
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    margin: 0;
    padding: 92px 0 40px 0;
}

@media (max-width: 1023px) {
    .intro__title {
        padding: 88px 0 40px 0;
    }
}

@media (max-width: 767px) {
    .intro__title {
        max-width: 288px;
        max-height: 70px;
        font-size: 32px;
        line-height: 109%;
    }
}